/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
:root {
  --color-primary:#eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --color-white:#fff; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 60em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'open sans',sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--color-grey-dark-2);
  min-height: 100vh; }

.container {
  max-width: 110rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  border-radius: .2rem; }
  @media only screen and (max-width: 69em) {
    .container {
      margin: 0;
      width: 100%;
      max-width: 100%; } }

.header {
  font-size: 1.4rem;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-grey-light-2);
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 31.25em) {
    .header {
      flex-wrap: wrap;
      height: 10rem;
      align-content: space-around; } }

.content {
  display: flex;
  flex-direction: row; }
  @media only screen and (max-width: 50em) {
    .content {
      flex-direction: column; } }

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media only screen and (max-width: 50em) {
    .sidebar {
      flex-direction: row; } }

.hotel {
  background-color: var(--color-white);
  flex: 1; }

.detail {
  font-size: 1.4rem;
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: 1px solid var(--color-grey-light-2); }
  @media only screen and (max-width: 50em) {
    .detail {
      padding: 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .detail {
      flex-direction: column;
      padding: 3rem 6rem;
      justify-content: space-around; } }

.description {
  background-color: var(--color-white);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.4);
  font-size: 1.4rem;
  flex: 0 0 65%;
  margin-right: 4.5rem;
  padding: 2rem 3rem;
  border-radius: 3px; }
  @media only screen and (max-width: 50em) {
    .description {
      padding: 1rem 2rem;
      margin-right: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .description {
      margin-right: 0;
      margin-bottom: 3rem; } }

.user-reviews {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; }

.logo {
  height: 3.25rem;
  margin-left: 2rem; }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; }
  @media only screen and (max-width: 31.25em) {
    .search {
      order: 1;
      flex: 0 0 100%;
      background-color: var(--color-grey-light-2); } }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border-radius: 10rem;
    padding: .7rem 1.5rem;
    border: none;
    width: 90%;
    margin-right: -3.5rem;
    transition: all .2s; }
    .search__input:hover {
      box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2); }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3);
      border-radius: 0; }
      .search__input:focus:hover {
        box-shadow: none; }
    .search__input::placeholder {
      color: var(--color-grey-light-4);
      text-transform: capitalize; }
  .search__input:focus + .search__button {
    background-color: var(--color-grey-light-3); }
  .search__button {
    border: none;
    background-color: var(--color-grey-light-2);
    transition: all .2s; }
    .search__button:focus {
      outline: none;
      transform: translateY(0.2rem); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-primary-light);
    opacity: .5; }
  .search__dropdown {
    position: absolute;
    top: 100%;
    left: .7rem;
    background-color: var(--color-grey-light-3);
    width: 100%;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    font-size: 1.5rem;
    overflow: hidden;
    visibility: hidden;
    z-index: 1000; }
  .search__input:focus ~ .search__dropdown {
    visibility: visible; }

.dropdown__list {
  list-style: none;
  text-transform: capitalize;
  text-align: center;
  height: 300px;
  overflow: scroll;
  overflow-x: hidden; }

.dropdown__item {
  color: black;
  cursor: pointer;
  padding: 1rem 0;
  overflow: hidden;
  transition: all .3s;
  position: relative; }

.dropdown__item::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-primary);
  opacity: .5;
  clip-path: circle(13px at 450px 55px);
  overflow: hidden;
  transition: all 0.8s cubic-bezier(1, 0.07, 0.45, 1.13); }

.dropdown__item:hover::before {
  clip-path: circle(150px at -150px 0px); }

.user-nav {
  display: flex;
  align-self: stretch;
  position: relative; }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    display: flex;
    align-items: center; }
  .user-nav > *:hover {
    background-color: var(--color-grey-light-2); }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2); }
  .user-nav__notification {
    font-size: .8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary-light);
    text-align: center;
    color: var(--color-white);
    position: absolute;
    top: 1.5rem;
    right: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center; }
  .user-nav__user-photo {
    height: 3.25rem;
    border-radius: 50%;
    margin-right: 1rem; }
  .user-nav__msg {
    position: absolute;
    top: 69px;
    left: -110px;
    background-color: var(--color-grey-light-1);
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
    padding: 1rem 2rem;
    width: 440%;
    z-index: 1000;
    border-radius: 3px;
    visibility: hidden; }
  .user-nav__msg-list {
    display: flex;
    flex-direction: column; }
  .user-nav__msg-item {
    display: flex;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    align-items: center;
    transition: all .3s ease-in-out;
    overflow: hidden;
    justify-content: space-around;
    position: relative; }
    .user-nav__msg-item:not(:last-child) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.4); }
    .user-nav__msg-item:hover .user__name {
      color: var(--color-white); }
  .user-nav__msg-item::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #eb2f64;
    position: absolute;
    top: 80px;
    left: 181px;
    transform: rotate(90deg);
    transition: all .5s ease;
    z-index: 1; }
  .user-nav__msg-item:hover::after {
    top: 0;
    left: 0;
    transform: rotate(180deg);
    z-index: 1; }
  .user-nav__icon-box:hover .user-nav__msg {
    visibility: visible; }

.user__info {
  margin-left: 1rem;
  z-index: 1000; }

.user__name {
  color: var(--color-primary);
  text-transform: uppercase; }

.user__msg {
  font-size: 1rem;
  color: black; }

.msg__photo {
  z-index: 1000; }

.msg__info {
  font-size: .9rem;
  margin-left: auto;
  z-index: 1000;
  padding: .7rem .5rem;
  color: var(--color-white);
  border-radius: 10px; }

.date__info {
  text-transform: uppercase; }

.time__info {
  text-transform: capitalize; }

.online__info {
  height: 1rem;
  width: 1rem;
  background-color: #69d869;
  position: absolute;
  top: 1rem;
  left: 4rem;
  border-radius: 50%;
  z-index: 3000; }

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem; }
  @media only screen and (max-width: 50em) {
    .side-nav {
      margin-top: 0;
      display: flex;
      justify-content: space-around;
      flex: 1; } }
  .side-nav__item {
    position: relative; }
    .side-nav__item:first-child {
      background-color: var(--color-primary); }
    .side-nav__item:not(:last-child) {
      margin-bottom: 1rem; }
      @media only screen and (max-width: 50em) {
        .side-nav__item:not(:last-child) {
          margin-bottom: 0; } }
    @media only screen and (max-width: 50em) {
      .side-nav__item {
        flex: 1; } }
  .side-nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: .3rem;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.2s cubic-bezier(0.8, -0.68, 0, 1.16) 0.35s, background-color 0.1s; }
  .side-nav__item:hover::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav__item:active::before {
    background-color: var(--color-primary-light); }
  .side-nav__link:visited, .side-nav__link:link {
    text-decoration: none;
    color: var(--color-grey-light-1);
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;
    position: relative; }
    @media only screen and (max-width: 50em) {
      .side-nav__link:visited, .side-nav__link:link {
        justify-content: center;
        padding: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .side-nav__link:visited, .side-nav__link:link {
        flex-direction: column;
        padding: 1.5rem; } }
  .side-nav__icon {
    height: 1.75rem;
    width: 1.75rem;
    margin-right: 2rem;
    fill: currentColor; }
    @media only screen and (max-width: 37.5em) {
      .side-nav__icon {
        margin-right: 0;
        height: 1.3rem;
        width: 1.3rem;
        margin-bottom: .2rem; } }

.legal {
  font-size: 1.2rem;
  text-align: center;
  padding: 2.5rem;
  color: var(--color-grey-light-4); }
  @media only screen and (max-width: 50em) {
    .legal {
      padding: 0;
      display: none; } }

.gallery {
  display: flex; }
  .gallery__photo {
    width: 100%;
    display: block; }

.overview {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-grey-light-2); }
  .overview__heading {
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem; }
    @media only screen and (max-width: 37.5em) {
      .overview__heading {
        font-size: 1.9rem;
        padding: 1.25rem 2rem; } }
  .overview__stars {
    display: flex;
    margin-right: auto; }
  .overview__icon-star, .overview__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary); }
  .overview__loc {
    display: flex;
    font-size: 1.2rem;
    margin-right: 2rem; }
  .overview__rating {
    background-color: var(--color-primary);
    color: white;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    padding: 0 2rem;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 37.5em) {
      .overview__rating {
        padding: 0 1rem; } }
  .overview__rating-avg {
    font-size: 2.25rem;
    font-weight: 300;
    text-align: center; }
    @media only screen and (max-width: 37.5em) {
      .overview__rating-avg {
        font-size: 2rem; } }
  .overview__rating-count {
    font-size: .8rem;
    text-transform: uppercase; }
    @media only screen and (max-width: 37.5em) {
      .overview__rating-count {
        font-size: .5rem; } }

.btn-inline {
  border: none;
  color: var(--color-primary);
  border-bottom: 1px solid currentColor;
  margin: 0 .5rem;
  cursor: pointer;
  font-size: 1.2rem;
  padding: .2rem;
  background-color: transparent;
  display: inline-block;
  border-radius: 2px;
  transition: all .2s; }
  .btn-inline span {
    margin-left: 3px;
    transition: margin-left .3s; }
  .btn-inline:hover {
    color: var(--color-grey-dark-3); }
    .btn-inline:hover span {
      margin-left: 8px; }
  .btn-inline:focus {
    outline: none;
    animation: loop 1s infinite; }

.paragraph:not(:last-of-type) {
  margin-bottom: 3rem; }

.list {
  margin: 3rem 0;
  list-style: none;
  padding: 3rem;
  border-bottom: 1px solid var(--color-grey-light-2);
  border-top: 1px solid var(--color-grey-light-2);
  display: flex;
  flex-wrap: wrap; }
  @media only screen and (max-width: 50em) {
    .list {
      padding: 2rem;
      margin: 1.8rem 0; } }
  .list__item {
    flex: 0 0 50%;
    margin-bottom: .5rem; }
  .list__item::before {
    content: "";
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: .7rem;
    background-image: url(../img/chevron-thin-right.svg);
    background-size: cover; }
    @supports (-webkit-mask-image: url()) or (mask-image: url()) {
      .list__item::before {
        background-color: var(--color-primary);
        -webkit-mask-image: url(../img/chevron-thin-right.svg);
        -webkit-mask-size: cover;
        mask-image: url(../img/chevron-thin-right.svg);
        mask-size: cover;
        background-image: none; } }

.recommend {
  font-size: 1.3rem;
  color: var(--color-grey-dark-3);
  text-transform: capitalize;
  display: flex;
  align-items: center; }
  .recommend__count {
    margin-right: auto; }
  .recommend__friends {
    display: flex; }
  .recommend__photo {
    box-sizing: content-box;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    border: 3px solid var(--color-white); }
    .recommend__photo:not(:last-child) {
      margin-right: -2.1rem; }

.review {
  background-color: var(--color-white);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
  padding: 2rem;
  border-radius: 2px;
  margin-bottom: 2rem;
  position: relative;
  overflow: hidden; }
  @media only screen and (max-width: 50em) {
    .review {
      padding: 3rem;
      margin-bottom: 3rem; } }
  .review__text {
    margin-bottom: 2rem;
    font-size: 1.3rem;
    position: relative;
    z-index: 100; }
  .review__user {
    display: flex;
    align-items: center; }
  .review__photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%; }
  .review__user-box {
    margin-left: 1rem; }
  .review__user-name {
    font-size: 1rem;
    font-weight: 900;
    color: black;
    text-transform: uppercase;
    margin-bottom: .4rem; }
  .review__user-date {
    font-size: .8rem;
    color: var(--color-grey-dark-2);
    text-transform: capitalize; }
  .review__rating {
    margin-left: auto;
    color: var(--color-primary);
    font-size: 1.3rem;
    font-weight: 400;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center; }
  .review::before {
    content: "\201C";
    position: absolute;
    line-height: 1;
    top: -3.5rem;
    left: 0;
    font-size: 20rem;
    color: var(--color-grey-light-4);
    font-family: sans-serif;
    z-index: 1; }

.cta {
  padding: 3.5rem 0;
  text-align: center; }
  @media only screen and (max-width: 50em) {
    .cta {
      padding: 2rem 0; } }
  .cta__book-now {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.5rem; }

.btn {
  font-size: 1.5rem;
  border: none;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 10rem;
  background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
  position: relative;
  color: var(--color-white);
  cursor: pointer;
  overflow: hidden; }
  .btn > * {
    display: inline-block;
    width: 100%;
    height: 100%;
    transition: all .15s; }
  .btn__visible {
    padding: 2rem 7rem; }
  .btn__invisible {
    position: absolute;
    padding: 2rem 0;
    left: 0;
    top: -100%; }
  .btn:hover .btn__visible {
    transform: translateY(100%); }
  .btn:hover .btn__invisible {
    top: 0; }
  .btn:hover {
    background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark)); }
  .btn:focus {
    outline: none;
    animation: loop 1s infinite; }

@keyframes loop {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.1);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.3); }
  100% {
    transform: scale(1);
    box-shadow: none; } }
